<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>curso_java_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>controller.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
</web-app>
<!-- essas tags são interpretadas pelo servidor web, nesse caso, o Tomcat -->